<a href={{url}}>
    <div class="category-card">
        <div class={{class}}>
            <img src={{concat '/images/' img}} />
            <p>{{name}}</p>
            {{#if quantity}}
            <div class="info">
                <span>Price: ${{price}}</span>
                <span>Qty: {{quantity}}</span>

            </div>
            {{/if}}
        </div>
    </div>

</a>